<%- include('header') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-uppercase">Fullstack Lab</h1>
        <p class="lead">Workshop Online e Gratuito - 2018</p>
        <a class="btn btn-primary" href="https://www.devpleno.com/" target="_blank">Site Oficial</a>
    </div>
</div>

<%- include('footer') %>